@font-face {
  font-family: 'OdinFont';
  /*a name to be used later*/
  src: url('Norse-Bold.otf');
  /*URL to font*/
}

body {
  margin: 0px;
  padding-left: 250px;
  padding-right: 250px;
  background-color: black;
  display: flex;

  justify-content: center;
}

.side-image {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.image-heading {
  padding: 20px;
  position: absolute;
  top: 15rem;
  opacity: 0.6;
  width: 100%;
  background-color: black;

  display: flex;
  justify-content: center;

}

.logo>img {
  height: 100px;
}

.image-text {
  padding: 10px 0px 0px 0px;
  opacity: 1;
  color: white;
    font-size: 70px;

  line-height: 80px;
  font-family: 'OdinFont';
  text-align: center;
}

.side-image>img {
  height: 100%;
  object-fit: cover;
}

.main-body {
  width: 80%;


  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: center;

  height: 100vh;

  font-family: Arial, Helvetica, Sans-serif;
  overflow: hidden;
}

.header {

  padding: 0px 100px 30px 50px;

  font-size: 23px;
  align-items: left;
  font-weight: bold;

}



form {
  width: 100%;
}

.form {
  /* padding: 0px 0px 30px 0px; */
  padding: 0px 100px 0px 50px;
  -webkit-box-shadow: 0 8px 6px -6px rgb(84, 87, 6);
  -moz-box-shadow: 0 8px 6px -6px rgb(138, 149, 81);
  box-shadow: 0 8px 6px -6px rgb(171, 158, 77);
}

label, input {
  font-family: inherit;
  font-size: 100%;
}

label {
  font-size: 80%;
  padding: 3px;
}

input {
  width: 250px;
  height: 22px;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  outline: none !important;
  border-color: #E5E7EB;


}

input:focus {
  outline: none !important;
  border-color: rgb(107, 107, 194);
}

/* input:invalid {
  outline: none !important;
  border-color: rgb(190, 33, 21);
} */

legend {
  font-size: 23px;
  padding: 10px 0px;
  font-weight: bold;
}

fieldset {
  border: 0px;
  padding: 10px 0px;
  display: flex;
  justify-content: left;
  gap: 120px;
}


#contact-first-name, #contact-last-name, #contact-email, #contact-telephone, #contact-password, #conctact-password-confirm {
  display: flex;
  flex-direction: column;
}

.account-creation {
  padding: 30px 100px 0px 50px;
  font-size: 18px;
}

.create-account {
  border: 0px;
  border-radius: 5px;
  background-color: #596D48;
  color: white;
  font-size: inherit;
  font-family: inherit;
  height: 50px;
  width: 220px;
}



.account-creation>p>a {
  color: #596D48;
  font-weight: bold;
  text-decoration: none;
}
