body {
  margin: 0px;
  padding-left: 150px;
  padding-right: 150px;
  background-color: black;
  display: flex;

  justify-content: center;
}

.side-image {
  height: 100vh;
  overflow: hidden;
}

img {
  height: 100%;
  object-fit: cover;
}

.main-body {
  width: 50%;


  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: center;

  height: 100vh;

  font-family: Arial, Helvetica, Sans-serif;
}

.header {

  padding: 30px 100px 30px 50px;

  font-size: 23px;
  align-items: left;
  font-weight: bold;

}



.form {
  padding: 30px 100px 30px 50px;
  height: 30%;
  width: 100%;

  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;

}

.account-creation {
    padding: 30px 100px 30px 50px;
}

label, input {
  font-family: inherit;
  font-size: 100%;
}

legend {
  font-size: 23px;
  font-weight: bold;
}

fieldset {
  border: 0px;
  padding: 10px 0px;
  display: flex;
  justify-content: left;
  gap: 120px;
}


#contact-first-name, #contact-last-name, #contact-email, #contact-telephone, #contact-password, #conctact-password-confirm {
  display: flex;
  flex-direction: column;
}
