body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}


.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 20px;

  color: rgb(71, 71, 71);
  background-color: rgb(143, 177, 137);
  font-size: 32px;

}


.container {

  height: 300px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-side, .computer-side{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  /* margin: 5px; */
  padding: 5px;
  /* border-right: 1px solid rgb(71, 71, 71);
  border-bottom: 1px solid rgb(71, 71, 71); */
}

.choice-block {
  height: 200px;
  width: 60%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px
}

.player-choice, .computer-choice {
  height: 100px;
  width: 100%;
  background-color: rgb(143, 177, 137);
  border-radius: 5px;
  padding: 10px;

  display: flex;

  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: 42px;
}

.choice-buttons {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

button {
  background-color: rgb(108, 134, 103);
  border-radius: 5px;
}


.computer-side {
  width: 50%;
}


.scores {
  height: 50px;
  width: 50px;
  font-size: 40px;
  display: flex;
  justify-content: center;

  border: 1px solid black;
  border-radius: 5px;
}


.final-results {
  height: 30px;
  width: 500px;
  margin-bottom: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(143, 177, 137);
  font-size: 20px;

  border-radius: 5px;


}
