* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

.header, .sidebar, .main-body {
  /* border: solid 1px black; */

}

/* GENERAL LAYOUT */

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: max(100px, 20%) 4fr;

  font-family: 'Roboto', sans-serif;
}

.header {
  grid-column: 2/3;
  grid-row: 1/2;

  background-color: white;

}

.main-body {
  grid-column: 2/3;
  grid-row: 2/3;
}


/* SIDEBAR */

.sidebar {
  padding: 25px;

  grid-row: 1/3;
  background-color: #2196F3;

  display: grid;
  grid-template-rows: 1fr 14fr;
  /* font-family: 'Roboto', sans-serif; */
}

.logo {
  display: grid;
  height: 40px;
  /* align-items: center; */

  color: white;
  font-size: 30px;
}

.menu {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 40px;

  color: white;
  font-size: 20px;

}

.menu ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 12px
}

.menu ul li, .logo li {
  display: flex;
  gap: 10px;
  justify-content: left;
}

.invert img {
  -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
}


/* ARTICLE - MAIN BODY */

.main-body {
  display: grid;
  grid-template-columns: 3fr 1fr;

  background-color: rgb(213, 222, 231);
  padding: 30px 20px;
}

.article-content {
  padding: 2px;
  grid-column: 1/2;

  /* border: solid 1px black; */
  display: grid;
  grid-template-columns: repeat(2, max(230px, 47%));
  gap: 20px
}

.article-header {
  grid-column: 1/3;

  font-size: 20px;
  font-weight:700;

  padding: 10px;
}

.card {
  /* border: solid 1px black; */
  background-color: white;
  border-radius: 5px;

  /* border-left: solid 10px rgb(255, 182, 23); */
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article .card {
  padding: 30px 15px;
  height: 140px;
}

.special-border {
  border-left: solid 10px rgb(255, 182, 23);
}

.card p {
  color: grey;
}

.article .card .card-title {
  color: black;
  font-size: 20px;
}

.card-icons {
  display: flex;
  justify-content: right;
  gap: 20px;
}

/* HIGHLIGHTS */

.highlights {
  display: flex;
  flex-direction: column;
}

.card-announcements {
  display: flex;
  padding: 20px 15px;

  grid-auto-rows: repeat(1, 1fr);
}

.accouncement-content {
  border-bottom: 1px solid grey;
  padding: 10px 0px;
}

.card-announcements p {
  font-size: 13px;
}

.card-announcements .card-title {
  color: black;
  font-size: 17px;
}
