* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

.header, .sidebar, .main-body {
  border: solid 1px black;

}

/* GENERAL LAYOUT */

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;

  font-family: 'Roboto', sans-serif;
}

.header {
  grid-column: 2/3;
  grid-row: 1/2;

  background-color: white;

}

.main-body {
  grid-column: 2/3;
  grid-row: 2/3;
}


/* SIDEBAR */

.sidebar {
  padding: 25px;

  grid-row: 1/3;
  background-color: #2196F3;

  display: grid;
  grid-template-rows: 1fr 14fr;
  /* font-family: 'Roboto', sans-serif; */
}

.logo {
  display: grid;
  height: 40px;
  /* align-items: center; */

  color: white;
  font-size: 30px;
}

.menu {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 40px;

  color: white;
  font-size: 20px;

}

.menu ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 12px
}

.menu ul li, .logo li {
  display: flex;
  gap: 10px;
  justify-content: left;
}

.invert img {
  -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
}


/* ARTICLE - MAIN BODY */

.main-body {
  display: grid;
  grid-template-columns: 3fr 1fr;

  background-color: rgb(253, 254, 229);
  padding: 30px 20px;
}

.article-content {
  padding: 2px;
  grid-column: 1/2;

  border: solid 1px black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px
}

.article-header {
  grid-column: 1/3;

  font-size: 20px;
  font-weight:700;
}

.card {
  height: 140px;
  /* border: solid 1px black; */
  background-color: white;
  border-radius: 5px;

  border-left: solid 10px rgb(225, 160, 19);
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;

  padding: 30px 15px;
}

.card p {
  color: grey;
}

.card .card-title {
  color: black;
  font-size: 20px;
}
