body {
  display: flex;
  flex-direction: column;
}



.header, .main-content, .footer {
  padding-left: 250px;
  padding-right: 250px;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
}


.header, .footer {
  font-size: 48px;
  background-color: aqua;
}

.calculator-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;


  width: 400px;
  height: 600px;
  padding: 20px;

  background-color: grey;
}

.calculator-display {
   height: 20%;
   width: 100%;

  background-color: white;
}

.calculator-numbers {
  display: flex;

  height: 70%;
  width: 100%;

  background-color: white;
}
