body {
  margin: 0px;

  display: flex;
  flex-direction: column;
}


.section {
  padding-left: 250px;
  padding-right: 250px;
}

.section-one {
  background-color: #1F2937;
  padding-top: 10px;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  padding-top: 60px;
  padding-bottom: 60px;
}

.content-left {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.content-right {
  display: flex;
  width: 50%;
  background-color: rgb(100, 107, 131);

  justify-content: center;
  align-items: center;
  color: white;
}

.website-title {
  font-size: 48px;
  font-weight:  bold;
  color: #F9FAF8;
}

.title-subtext {
  font-size: 18px;
  color: #E5E7EB;

  margin-bottom: 10px;
}

.header {
  display: flex;
  justify-content: space-between;

}

.header-logo {
  color: white;
  font-size: 24px;
}

.right-links {
  display: flex;
  gap: 30px;

  font-size: 18px
}

a {
  color: white;
  text-decoration: none;
}

button {
  padding: 3px 16px;
  border-radius: 8px;
  background-color: royalblue;
  border: 1px solid royalblue;
  color: white;
  width: 90px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
